body {
  background-color: rgb(233, 233, 233);
}

main {
  background-color: white;
  width: 80%;
  position: relative;
  left: 10%;
  top: 20px;
}

#text-field {
  position: relative;
  left: 40%;
}


.header-button {
  background-color: white;
  color: black;
  border: 1px solid black;

}

.buttonInvoice:hover {
  color: white;
  background-color: #ffc107;
}